.year_text {
  color: whitesmoke;
  text-align: center;
}

.information_text {
  text-align: center;
  background: -webkit-linear-gradient(#f8e59a, #9e8e8e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#black{
  background: none;
  font-size: 32px;
  color: black;

  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}
.icon {
  max-height: 69px;
  max-width: 60px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: #172d69;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
}



.information_bat_fakta {
  display: flex;
  align-items: center;
}

.information_kommunikation {
  display: flex;
  align-items: center;
}

.grid-wrapper {
  display: grid;
  gap: 5px;
}

@media screen and (min-width:0px) {
  .dropdown {
      display: flex;
      justify-content: center;
  }
  .navbar {
      display: none;
  }
  #grid-wrapper {
      grid-template-areas: "bt sb" "b1 b1" "b2 b2" "f1 f2" "f3 f4" "fw fw";
  }
  #grid-wrapper-blogg {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      width: 100%;
      height: 100%;
      grid-template-areas: "sb a1 sd" "sb a2 sd" "sb a3 sd" "sb a4 sd" "sb a5 sd" "sb a6 sd" "sb fw sd";
      grid-template-columns: 0.2fr repeat(1, 1fr) 0.2fr;
      grid-template-rows: repeat(6, 1fr) 0.1fr;
      grid-gap: 5px;
  }
  #grid-wrapper-galleri {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      width: 100%;
      height: 100%;
      grid-template-areas: "sb g1 sd" "sb g2 sd" "sb g3 sd" "sb g4 sd" "sb g5 sd" "sb g6 sd" "sb fw sd";
      grid-template-columns: 0.2fr repeat(1, 1fr) 0.2fr;
      grid-template-rows: repeat(6, 1fr) 0.1fr;
      grid-gap: 5px;
  }
  #information_kommunikation_1 {
      grid-area: info1;
      background: rgb(23, 45, 105);
      background: linear-gradient(180deg, rgba(23, 45, 105, 1) 0%, rgba(55, 78, 204, 0.406582701439951) 100%);
  }
  #information_kommunikation_2 {
      grid-area: info2;
      background: rgb(23, 45, 105);
      background: radial-gradient(circle, rgba(23, 45, 105, 1) 0%, rgba(55, 78, 204, 0.406582701439951) 100%);
  }
  #information_kommunikation_3 {
      grid-area: info3;
      background: rgb(23, 45, 105);
      background: radial-gradient(circle, rgba(23, 45, 105, 1) 0%, rgba(55, 78, 204, 0.406582701439951) 100%);
  }
  #information_kommunikation_4 {
      grid-area: info4;
      background: rgb(23, 45, 105);
      background: linear-gradient(0deg, rgba(23, 45, 105, 1) 0%, rgba(55, 78, 204, 0.406582701439951) 100%);
  }


  #information_bat_fakta_1 {
    grid-area: inf1;
    background: rgb(23, 45, 105);
    background: linear-gradient(180deg, rgba(23, 45, 105, 1) 0%, rgba(55, 78, 204, 0.406582701439951) 100%);
}
#information_bat_fakta_2 {
    grid-area: inf2;
    background: rgb(23, 45, 105);
    background: radial-gradient(circle, rgba(23, 45, 105, 1) 0%, rgba(55, 78, 204, 0.406582701439951) 100%);
}
#information_bat_fakta_3 {
    grid-area: inf3;
    background: rgb(23, 45, 105);
    background: radial-gradient(circle, rgba(23, 45, 105, 1) 0%, rgba(55, 78, 204, 0.406582701439951) 100%);
}
#information_bat_fakta_4 {
    grid-area: inf4;
    background: rgb(23, 45, 105);
    background: linear-gradient(0deg, rgba(23, 45, 105, 1) 0%, rgba(55, 78, 204, 0.406582701439951) 100%);
}
  #grid-wrapper-bat-fakta {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      width: 100%;
      height: 200vh;
      grid-template-areas: "sb inf1 sd" "sb inf2 sd" "sb inf3 sd" "sb inf4 sd" "fw fw fw";
      grid-template-columns: 0.2fr repeat(1, 1fr) 0.2fr;
      grid-template-rows: repeat(4, 1fr) 0.1fr;
      grid-gap: 5px;
  }

  #grid-wrapper-kommunikation {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 100%;
    height: 200vh;
    grid-template-areas: "sb info1 sd" "sb info2 sd" "sb info3 sd" "sb info4 sd" "fw fw fw";
    grid-template-columns: 0.2fr repeat(1, 1fr) 0.2fr;
    grid-template-rows: repeat(4, 1fr) 0.1fr;
    grid-gap: 5px;
}

  .information_text {
      font-size: 30px;
  }
}

@media screen and (min-width:1000px) {
  .dropdown {
      display: block;
  }
  .information_text {
      font-size: 16px;
  }
  .navbar {
      display: block;
  }
  .navbar_expander {
      display: none;
  }
  .navbar_expander_bat_fakta {
      display: none;
  }
  .navbar_expander_kommunikation {
      display: none;
  }
  .navbar_expander_pop {
      display: none;
  }
  .navbar_expander_blogg {
      display: none;
  }
  .navbar_expander_galleri {
      display: none;
  }
  #grid-wrapper {
      grid-template-areas: "sb nv nv nv nv" "sb b1 b1 b2 b2" "sb f1 f2 f3 f4" "sb fw fw fw fw";
      grid-template-columns: 10% 20% 20% 20% 20% 10%;
  }
  #grid-wrapper-blogg {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      width: 100%;
      height: 100%;
      grid-template-areas: "sb nv nv sd" "sb a1 a2 sd" "sb a3 a4 sd" "sb a5 a6 sd" "sb fw fw sd";
      grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr;
      grid-template-rows: 0.15fr repeat(3, 1fr) 0.1fr;
      grid-gap: 5px;
  }
  #grid-wrapper-galleri {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      width: 100%;
      height: 100%;
      grid-template-areas: "sb nv nv sd" "sb g1 g2 sd" "sb g3 g4 sd" "sb g5 g6 sd" "sb fw fw sd";
      grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr;
      grid-template-rows: 0.1fr repeat(3, 1fr) 0.1fr;
      grid-gap: 5px;
  }
  #grid-wrapper-bat-fakta {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      width: 100%;
      height: 200vh;
      grid-template-areas: "sb nv sd" "sb inf1 sd" "sb inf2 sd" "sb inf3 sd" "sb inf4 sd" "sb fw sd";
      grid-template-columns: 0.2fr repeat(1, 1fr) 0.2fr;
      grid-template-rows: 0.1fr repeat(4, 1fr) 0.1fr;
      grid-gap: 5px;
  }

  #grid-wrapper-kommunikation {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 100%;
    height: 200vh;
    grid-template-areas: "sb nv sd" "sb info1 sd" "sb info2 sd" "sb info3 sd" "sb info4 sd" "sb fw sd";
    grid-template-columns: 0.2fr repeat(1, 1fr) 0.2fr;
    grid-template-rows: 0.1fr repeat(4, 1fr) 0.1fr;
    grid-gap: 5px;
}
}

@media screen and (min-width:1400px) {
  #grid-wrapper-blogg {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      width: 100%;
      height: 100%;
      grid-template-areas: "sb nv nv nv sd" "sb a1 a2 a3 sd" "sb a4 a5 a6 sd" "sb fw fw fw sd";
      grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
      grid-template-rows: 0.15fr repeat(2, 1fr) 0.1fr;
      grid-gap: 5px;
  }
  #grid-wrapper-galleri {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      width: 100%;
      height: 100%;
      grid-template-areas: "sb nv nv nv sd" "sb g1 g2 g3 sd" "sb g4 g5 g6 sd" "sb fw fw fw sd";
      grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
      grid-template-rows: 0.1fr repeat(2, 1fr) 0.1fr;
      grid-gap: 5px;
  }
  #grid-wrapper-bat-fakta {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      width: 100%;
      height: 99vh;
      grid-template-areas: "sb nv nv sd" "sb inf1 inf2 sd" "sb inf3 inf4 sd" "sb fw fw sd";
      grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr;
      grid-template-rows: 0.15fr repeat(2, 1fr) 0.1fr;
      grid-gap: 5px;
  }

  #grid-wrapper-kommunikation {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 100%;
    height: 99vh;
    grid-template-areas: "sb ll nv nv gg sd" 
                         "sb info1 info1 info2 info2 sd" 
                         "sb info3 info3 info4 info4 sd" 
                         "fw fw fw fw fw fw";
    grid-template-columns:  0.5fr 0.5fr repeat(2, 1fr) 0.5fr 0.5fr;
    grid-template-rows: 0.15fr repeat(2, 1fr) 0.1fr;
    grid-gap: 5px;
}
  #information_kommunikation_1 {
      grid-area: info1;
      background: rgb(23, 45, 105);
      background: linear-gradient(225deg, rgba(53,19,157,0.17689082468925066) 0%, rgba(74,87,171,1) 100%);
  }
  #information_kommunikation_2 {
      grid-area: info2;
      background: rgb(23, 45, 105);
      background: linear-gradient(45deg, rgba(53,19,157,0.17689082468925066) 0%, rgba(74,87,171,1) 100%);
  }
  #information_kommunikation_3 {
      grid-area: info3;
      background: rgb(23, 45, 105);
      background: linear-gradient(315deg, rgba(53,19,157,0.17689082468925066) 0%, rgba(74,87,171,1) 100%);
  }
  #information_kommunikation_4 {
      grid-area: info4;
      background: rgb(23, 45, 105);
      background: linear-gradient(135deg, rgba(53,19,157,0.17689082468925066) 0%, rgba(74,87,171,1) 100%);
  }

  #information_bat_fakta_1 {
    grid-area: inf1;
    background: rgb(23, 45, 105);
    background: linear-gradient(315deg, rgba(23, 45, 105, 1) 0%, rgba(55, 78, 204, 0.406582701439951) 100%);
}
#information_bat_fakta_2 {
    grid-area: inf2;
    background: rgb(23, 45, 105);
    background: linear-gradient(225deg, rgba(23, 45, 105, 1) 0%, rgba(55, 78, 204, 0.406582701439951) 100%);
}
#information_bat_fakta_3 {
    grid-area: inf3;
    background: rgb(23, 45, 105);
    background: linear-gradient(45deg, rgba(23, 45, 105, 1) 0%, rgba(55, 78, 204, 0.406582701439951) 100%);
}
#information_bat_fakta_4 {
    grid-area: inf4;
    background: rgb(23, 45, 105);
    background: linear-gradient(135deg, rgba(23, 45, 105, 1) 0%, rgba(55, 78, 204, 0.406582701439951) 100%);
}

}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.allign {
  display: flex;
  align-content: center;
}

.blogg_year {
  display: grid;
  width: 100%;
  height: 50vh;
  grid-template-areas: "ded" "edd";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 3fr 1fr;
  grid-gap: 5px;
}

#b_2021 {
  grid-area: a1;
}

#b_2020 {
  grid-area: a2;
}

#b_2019 {
  grid-area: a3;
}

#b_2018 {
  grid-area: a4;
}

#b_2017 {
  grid-area: a5;
}

#b_2016 {
  grid-area: a6;
}

.galleri_bild {
  display: grid;
  width: 100%;
  height: 120vh;
  grid-template-areas: "upp" "mln" "ner";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 2fr 1fr 1fr;
  grid-gap: 5px;
}

.galleri_bild_top {
  grid-area: upp;
  background: magenta;
}

.galleri_bild_middle {
  grid-area: mln;
  background: gainsboro;
}

.galleri_bild_bottom {
  grid-area: ner;
}

.blogg_year_bottom {
  grid-area: edd;
  background: rgb(23, 45, 105);
  background: radial-gradient(circle, rgba(23, 45, 105, 1) 0%, rgba(55, 75, 131, 0.406582701439951) 100%);
}

.blogg_year_top {
  grid-area: ded;
  background: indigo;
}

#b_1 {
  grid-area: g1;
}

#b_2 {
  grid-area: g2;
}

#b_3 {
  grid-area: g3;
}

#b_4 {
  grid-area: g4;
}

#b_5 {
  grid-area: g5;
}

#b_6 {
  grid-area: g6;
}

#one {
  grid-area: b1;
  background: salmon;
}

#two {
  grid-area: b2;
  background: seagreen;
}

#f1 {
  grid-area: f1;
  background: orange;
}

#f2 {
  grid-area: f2;
  background: orangered;
}

#f3 {
  grid-area: f3;
  background: greenyellow;
}

#f4 {
  grid-area: f4;
  background: burlywood;
}

.f_img {
  width: 100%;
  height: 100%;
}

.b_img {
  width: 100%;
  height: 100%;
}

.footer {
  grid-area: fw;
  top: 0;
  left: 0;
  background: rgb(238, 174, 202);
  background: linear-gradient(172deg, rgba(238, 174, 202, 1) 0%, rgba(16, 100, 199, 1) 100%);
  text-align: center;
}


/* Navbar container */

.navbar {
  overflow: hidden;
  background: rgb(55, 75, 131);
  background: linear-gradient(172deg, rgba(18, 96, 189, 1) 0%, rgba(55, 75, 131, 1) 100%);
  font-family: Arial;
  grid-area: nv;
}

.navbar_expander {
  padding: 8px 8px 8px 8px;
  font-family: Arial, Verdana;
  background: #172d69;
  background-position: 8px 8px;
  background-repeat: no-repeat;
}


/* Links inside the navbar */

.navbar a {
  float: left;
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}


/* The dropdown container */

.dropdown {
  float: left;
  overflow: hidden;
}


/* Dropdown button */

.dropdown .dropdown_button {
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  padding: 12px 14px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

.navbar a:hover,
.dropdown:hover .dropdown_button {
  background: rgb(42, 23, 105);
  background: linear-gradient(180deg, rgba(42, 23, 105, 1) 0%, rgba(74, 23, 105, 1) 100%);
}


/* Dropdown content (hidden by default) */

.dropdown-content {
  display: none;
  position: absolute;
  background: rgb(148, 138, 184);
  background: linear-gradient(180deg, rgba(148, 138, 184, 1) 0%, rgba(123, 47, 170, 1) 100%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

